USE [master]
GO
/****** Object:  Database [PayrollDB]    Script Date: 3/19/2026 7:14:18 PM ******/
CREATE DATABASE [PayrollDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PayrollDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PayrollDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PayrollDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PayrollDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PayrollDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PayrollDB]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 3/19/2026 7:14:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[AttendanceID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [varchar](20) NULL,
	[AttendanceDate] [date] NOT NULL,
	[TimeIn] [time](7) NULL,
	[TimeOut] [time](7) NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 3/19/2026 7:14:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmpID] [varchar](20) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[Department] [varchar](50) NULL,
	[Position] [varchar](50) NULL,
	[EmpType] [varchar](20) NULL,
	[BasicSalary] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holidays]    Script Date: 3/19/2026 7:14:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holidays](
	[HolidayDate] [date] NOT NULL,
	[HolidayName] [varchar](100) NULL,
	[HolidayType] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[HolidayDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll]    Script Date: 3/19/2026 7:14:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll](
	[PayrollID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [varchar](20) NULL,
	[ReleaseDate] [date] NULL,
	[GrossSalary] [decimal](18, 2) NULL,
	[TotalDeductions] [decimal](18, 2) NULL,
	[NetSalary] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[PayrollID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([AttendanceID], [EmpID], [AttendanceDate], [TimeIn], [TimeOut], [Status]) VALUES (1, N'STARS', CAST(N'2026-03-19' AS Date), CAST(N'17:01:38.4266667' AS Time), CAST(N'17:05:07.9466667' AS Time), N'Present')
INSERT [dbo].[Attendance] ([AttendanceID], [EmpID], [AttendanceDate], [TimeIn], [TimeOut], [Status]) VALUES (2, N'UMC001', CAST(N'2026-03-19' AS Date), CAST(N'17:05:32.8500000' AS Time), NULL, N'Present')
INSERT [dbo].[Attendance] ([AttendanceID], [EmpID], [AttendanceDate], [TimeIn], [TimeOut], [Status]) VALUES (3, N'RCY002', CAST(N'2026-03-19' AS Date), CAST(N'17:05:53.7600000' AS Time), NULL, N'Present')
SET IDENTITY_INSERT [dbo].[Attendance] OFF
GO
INSERT [dbo].[Employees] ([EmpID], [FullName], [Department], [Position], [EmpType], [BasicSalary]) VALUES (N'BNZ', N'Benzalidail Mat Paat', N'CICT', N'STUDENT', N'Intern', CAST(20.00 AS Decimal(18, 2)))
INSERT [dbo].[Employees] ([EmpID], [FullName], [Department], [Position], [EmpType], [BasicSalary]) VALUES (N'GWN', N'Gweneth Angela Santiago', N'CICT', N'STUDENT', N'Intern', CAST(20.00 AS Decimal(18, 2)))
INSERT [dbo].[Employees] ([EmpID], [FullName], [Department], [Position], [EmpType], [BasicSalary]) VALUES (N'RCY002', N'ASHLEY GRAHAM', N'PRD', N'Assistant', N'Part-time', CAST(5000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Holidays] ([HolidayDate], [HolidayName], [HolidayType]) VALUES (CAST(N'2026-01-01' AS Date), N'New Year''s Day', N'Regular')
INSERT [dbo].[Holidays] ([HolidayDate], [HolidayName], [HolidayType]) VALUES (CAST(N'2026-05-01' AS Date), N'Labor Day', N'Regular')
INSERT [dbo].[Holidays] ([HolidayDate], [HolidayName], [HolidayType]) VALUES (CAST(N'2026-06-12' AS Date), N'Independence Day', N'Regular')
GO
SET IDENTITY_INSERT [dbo].[Payroll] ON 

INSERT [dbo].[Payroll] ([PayrollID], [EmpID], [ReleaseDate], [GrossSalary], [TotalDeductions], [NetSalary]) VALUES (1, N'stars', CAST(N'2026-03-19' AS Date), CAST(2272.73 AS Decimal(18, 2)), CAST(227.27 AS Decimal(18, 2)), CAST(2045.45 AS Decimal(18, 2)))
INSERT [dbo].[Payroll] ([PayrollID], [EmpID], [ReleaseDate], [GrossSalary], [TotalDeductions], [NetSalary]) VALUES (2, N'STARS', CAST(N'2026-03-19' AS Date), CAST(2272.73 AS Decimal(18, 2)), CAST(227.27 AS Decimal(18, 2)), CAST(2045.45 AS Decimal(18, 2)))
INSERT [dbo].[Payroll] ([PayrollID], [EmpID], [ReleaseDate], [GrossSalary], [TotalDeductions], [NetSalary]) VALUES (3, N'STARS', CAST(N'2026-03-19' AS Date), CAST(2272.73 AS Decimal(18, 2)), CAST(227.27 AS Decimal(18, 2)), CAST(2045.45 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Payroll] OFF
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([EmpID])
REFERENCES [dbo].[Employees] ([EmpID])
GO
ALTER TABLE [dbo].[Payroll]  WITH CHECK ADD FOREIGN KEY([EmpID])
REFERENCES [dbo].[Employees] ([EmpID])
GO
USE [master]
GO
