USE [master]
GO
/****** Object:  Database [PayrollDB]    Script Date: 3/23/2026 6:40:44 PM ******/
CREATE DATABASE [PayrollDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PayrollDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PayrollDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PayrollDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PayrollDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PayrollDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PayrollDB]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 3/23/2026 6:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[AttendanceID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [varchar](20) NULL,
	[AttendanceDate] [date] NULL,
	[TimeIn] [time](7) NULL,
	[TimeOut] [time](7) NULL,
	[Status] [varchar](20) NULL,
	[Date] [date] NULL,
	[Arrival] [datetime] NULL,
	[Departure] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 3/23/2026 6:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmpID] [varchar](20) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[Department] [varchar](50) NULL,
	[Position] [varchar](50) NULL,
	[EmpType] [varchar](20) NULL,
	[BasicSalary] [decimal](18, 2) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[PIN] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holidays]    Script Date: 3/23/2026 6:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holidays](
	[HolidayDate] [date] NOT NULL,
	[HolidayName] [varchar](100) NULL,
	[HolidayType] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[HolidayDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll]    Script Date: 3/23/2026 6:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll](
	[PayrollID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [varchar](20) NULL,
	[ReleaseDate] [date] NULL,
	[GrossSalary] [decimal](18, 2) NULL,
	[TotalDeductions] [decimal](18, 2) NULL,
	[NetSalary] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[PayrollID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([AttendanceID], [EmpID], [AttendanceDate], [TimeIn], [TimeOut], [Status], [Date], [Arrival], [Departure]) VALUES (1, N'ZILD', NULL, NULL, NULL, N'Present', CAST(N'2026-03-23' AS Date), CAST(N'1900-01-01T18:28:56.650' AS DateTime), NULL)
INSERT [dbo].[Attendance] ([AttendanceID], [EmpID], [AttendanceDate], [TimeIn], [TimeOut], [Status], [Date], [Arrival], [Departure]) VALUES (2, N'GWEN', NULL, NULL, NULL, N'Present', CAST(N'2026-03-23' AS Date), CAST(N'1900-01-01T18:29:03.990' AS DateTime), NULL)
INSERT [dbo].[Attendance] ([AttendanceID], [EmpID], [AttendanceDate], [TimeIn], [TimeOut], [Status], [Date], [Arrival], [Departure]) VALUES (3, N'BENZ', NULL, NULL, NULL, N'Present', CAST(N'2026-03-23' AS Date), CAST(N'1900-01-01T18:29:08.853' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Attendance] OFF
GO
INSERT [dbo].[Employees] ([EmpID], [FullName], [Department], [Position], [EmpType], [BasicSalary], [Password], [PIN]) VALUES (N'BENZ', N'Benzalidail Mat Paat', N'CICT', N'STUDENT', N'Full-time', CAST(200.00 AS Decimal(18, 2)), N'benz123', N'123456')
INSERT [dbo].[Employees] ([EmpID], [FullName], [Department], [Position], [EmpType], [BasicSalary], [Password], [PIN]) VALUES (N'GWEN', N'GWENETH SANTIAGO', N'CICT', N'STUDENT', N'Full-time', CAST(200.00 AS Decimal(18, 2)), N'gwen123', N'123456')
INSERT [dbo].[Employees] ([EmpID], [FullName], [Department], [Position], [EmpType], [BasicSalary], [Password], [PIN]) VALUES (N'LEON', N'Leon S. Kennedy', N'RPD', N'ROOKIE', N'Intern', CAST(100.00 AS Decimal(18, 2)), N'leon123', N'123456')
GO
INSERT [dbo].[Holidays] ([HolidayDate], [HolidayName], [HolidayType]) VALUES (CAST(N'2026-01-01' AS Date), N'New Year''s Day', N'Regular')
INSERT [dbo].[Holidays] ([HolidayDate], [HolidayName], [HolidayType]) VALUES (CAST(N'2026-05-01' AS Date), N'Labor Day', N'Regular')
INSERT [dbo].[Holidays] ([HolidayDate], [HolidayName], [HolidayType]) VALUES (CAST(N'2026-06-12' AS Date), N'Independence Day', N'Regular')
GO
ALTER TABLE [dbo].[Attendance] ADD  DEFAULT (CONVERT([date],getdate())) FOR [Date]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('1234') FOR [PIN]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Employee] FOREIGN KEY([EmpID])
REFERENCES [dbo].[Employees] ([EmpID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Employee]
GO
ALTER TABLE [dbo].[Payroll]  WITH CHECK ADD  CONSTRAINT [FK_Payroll_Employee] FOREIGN KEY([EmpID])
REFERENCES [dbo].[Employees] ([EmpID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payroll] CHECK CONSTRAINT [FK_Payroll_Employee]
GO
USE [master]
GO
